<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:9091/Metadata"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="ChatAppServer.Services.ChatServer">
        <endpoint address="net.tcp://localhost:9090/ChatServer"
                  binding="netTcpBinding"
                  contract="ChatAppServer.Services.IChatServer"></endpoint>
      </service>
    </services>
  </system.serviceModel>
</configuration>