<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <sources>
      <source propagateActivity="true" name="System.ServiceModel" switchValue="Verbose,ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        name="DefaultListener" traceOutputOptions="LogicalOperationStack, DateTime, Timestamp, ProcessId, ThreadId, Callstack">
        <filter type="" />
      </add>
    </sharedListeners>
  </system.diagnostics>
  <system.serviceModel>
    <diagnostics>
      <messageLogging logEntireMessage="true" logKnownPii="false" />
      <endToEndTracing messageFlowTracing="true" />
    </diagnostics>
    <bindings>
      <netMsmqBinding>
        <binding name="OfflineAdvCalculatorBinding" useActiveDirectory="false" >
          <security mode="None">
          </security>
        </binding>
      </netMsmqBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="metadataBehavior">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:9090/Metadata"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="FirstWCFApp.Implementations.CalculatorService"
               behaviorConfiguration="metadataBehavior">
        <endpoint address="http://localhost:9090/SchneiderServices/CalculatorService"
                  binding="basicHttpBinding"
                  contract="FirstWCFApp.Contracts.ICalculator"></endpoint>
        <endpoint address="net.tcp://localhost:9091/SchneiderServices/CalculatorService"
                  binding="netTcpBinding"
                  contract="FirstWCFApp.Contracts.ICalculator"></endpoint>
        <endpoint address="http://localhost:9090/SchneiderServices/AdvCalculatorService"
                  binding="basicHttpBinding"
                  contract="FirstWCFApp.Contracts.IAdvancedCalculator"></endpoint>
        
        <endpoint address="net.msmq://localhost/private/SchneiderQueue"
                  binding="netMsmqBinding"
                  bindingConfiguration="OfflineAdvCalculatorBinding"
                  contract="FirstWCFApp.Contracts.IOfflineAdvancedCalculator"></endpoint>
      </service>
    </services>
  </system.serviceModel>
</configuration>