<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <netMsmqBinding>
        <binding name="OfflineAdvCalculatorBinding" useActiveDirectory="false" >
          <security mode="None">
          </security>
        </binding>
      </netMsmqBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="metadataBehavior">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:9090/Metadata"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="FirstWCFApp.Implementations.CalculatorService" 
               behaviorConfiguration="metadataBehavior">
        <endpoint address="http://localhost:9090/SchneiderServices/CalculatorService"
                  binding="basicHttpBinding"
                  contract="FirstWCFApp.Contracts.ICalculator"></endpoint>
        <endpoint address="net.tcp://localhost:9091/SchneiderServices/CalculatorService"
                  binding="netTcpBinding"
                  contract="FirstWCFApp.Contracts.ICalculator"></endpoint>
        <endpoint address="http://localhost:9090/SchneiderServices/AdvCalculatorService"
                  binding="basicHttpBinding"
                  contract="FirstWCFApp.Contracts.IAdvancedCalculator"></endpoint>
        
        <endpoint address="net.msmq://localhost/private/SchneiderQueue"
                  binding="netMsmqBinding"
                  bindingConfiguration="OfflineAdvCalculatorBinding"
                  contract="FirstWCFApp.Contracts.IOfflineAdvancedCalculator"></endpoint>
      </service>
    </services>
  </system.serviceModel>
</configuration>