<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IChatServer" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:9090/ChatServer" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IChatServer" contract="ServiceProxies.IChatServer"
                name="NetTcpBinding_IChatServer">
                <identity>
                    <userPrincipalName value="ALTEREGO-DUO\Magesh" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>