<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <add name="AdventureWorksLTConnectionString" connectionString="Data Source=(local);Initial Catalog=AdventureWorksLT;Persist Security Info=True;User ID=sa;Password=magesh"
            providerName="System.Data.SqlClient" />
        <add name="EFDemoConnectionString" connectionString="Data Source=(local);Initial Catalog=EFDemo;Persist Security Info=True;User ID=sa;Password=magesh"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
